<% include ./partials/header.ejs %>
<div class="home-container text-white-900">
   <div>
    <h1 class="text-8xl ">AniLit</h1>
    <p class="paradiv">Where Images Speak Louder Than Words</p>
    <div>
        <butto class="Explore-btn">
            <a href="/login" class="border-1 w-32 px-3 py-2 mt-4 bg-red-600 rounded-full text-white flex justify-center text-center Explore">Explore</a>
        </button>    
        
    </div>
   </div> 

   
    
   
</div>
<% include ./partials/footer.ejs %>